@model IEnumerable<GarbageRemoval.Models.Company>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="form-group">
    <a class="btn btn-primary" asp-action="Request" asp-route-request="Select Companies.Name, Companies.Address,
(SUM(Orders.CostPerKilogram * Orders.GarbadgeWeight) - SUM(Employees.Salary * DATEDIFF(month, Employees.EmploymentDate, GETDATE()))) as 'Profit'
from Companies
left join Administrations on Administrations.CompanyId = Companies.CompanyId
left join Brigades on Brigades.AdministrationId = Administrations.AdministrationId
left join Orders on Orders.BrigadeId = Brigades.BrigadeId
left join Employees on Employees.BrigadeId = Brigades.BrigadeId
group by Companies.Name, Companies.Address" asp-controller="Home">Запит на статистику з виводом усіх компаній та підрахунок прибутку за увесь час (зароблена сумма за сміття та витрачена сумма на зарплати робітників)</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CompanyId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CompanyId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CompanyId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
