@model IEnumerable<GarbageRemoval.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Brigade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.House)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsServed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CostPerKilogram)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GarbadgeWeight)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Brigade.BrigadeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.House.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsServed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CostPerKilogram)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GarbadgeWeight)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.OrderId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.OrderId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.OrderId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
