@model IEnumerable<GarbageRemoval.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form asp-action="Index" method="post">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Brigade name</span>
        </div>
        <input type="text" class="form-control" aria-label="Default" value="@ViewBag.BridageName" name="bridageName" aria-describedby="inputGroup-sizing-default">
        <div class="input-group-prepend ml-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Address</span>
        </div>
        <input type="text" class="form-control" aria-label="Default" value="@ViewBag.Address" name="address" aria-describedby="inputGroup-sizing-default">
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Create date from</span>
        </div>
        <input type="date" class="form-control" aria-label="Default" value="@ViewBag.CreateDateFrom.ToString("yyyy-MM-dd")" name="createDateFrom" aria-describedby="inputGroup-sizing-default">
        <div class="input-group-prepend ml-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Create date to</span>
        </div>
        <input type="date" class="form-control" aria-label="Default" value="@ViewBag.CreateDateTo.ToString("yyyy-MM-dd")" name="createDateTo" aria-describedby="inputGroup-sizing-default">
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Cost per kilogram from</span>
        </div>
        <input type="number" class="form-control" aria-label="Default" value="@ViewBag.CostFrom" name="costFrom" aria-describedby="inputGroup-sizing-default">
        <div class="input-group-prepend ml-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Cost per kilogram to</span>
        </div>
        <input type="number" class="form-control" aria-label="Default" value="@ViewBag.CostTo" name="costTo" aria-describedby="inputGroup-sizing-default">
        <div class="input-group-prepend ml-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Sorting</span>
        </div>
        <select class="custom-select" name="sort" id="inputGroupSelect01" asp-items="@ViewBag.Sort"></select>
    </div>

    <div class="input-group mb-3">
        <input type="submit" value="Search" class="btn btn-primary" />
    </div>
</form>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Brigade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.House)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsServed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CostPerKilogram)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GarbadgeWeight)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Brigade.BrigadeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.House.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsServed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CostPerKilogram)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GarbadgeWeight)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.OrderId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.OrderId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.OrderId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
